html,
body {
  height: 100%;
  
}

body {
  -webkit-animation: background 10s cubic-bezier(1,0,0,1) infinite;
  animation: background 10s cubic-bezier(1,0,0,1) infinite;  
  
}


@-webkit-keyframes background {
  0% { background-color: rgb(153, 255, 204); }
  33% { background-color: rgb(153, 228, 238); }  
  67% { background-color: rgb(153, 228, 238); }
  100% { background-color: rgb(153, 255, 204); }
}

@keyframes background {
  0% { background-color: rgb(153, 255, 204); }
  33% { background-color: rgb(153, 228, 238); }  
  67% { background-color: rgb(153, 228, 238);; }
  100% { background-color: rgb(153, 255, 204); }
}

button{
    border-radius: 15px;
}

select,button{
    background-color: black;
    color: white;
}
form{
    border: 2px solid rgb(80, 71, 65);
    border-radius: 10px;
}

form ,h3 ,h1{
    padding: 40px;
    width: 30%;
    margin: auto;
    text-align: center
}

label{
    font-size: large;
}

label,h1,h3{
    font-weight: bolder;
}